.nav-tab {
background: #000000;
height: 66px;
margin: 0;
}
.nav-tab__lists {
display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	height: 100%;
	align-items: center;
	margin: 0;
	padding: 0;
}
.nav-tab__list {
	text-decoration-line: underline;
	list-style-type: none;
	margin-right: 40px;
	
}
.nav-tab__list:last-child {
	margin-right: 0;
}
.nav-tab__link {
	font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
text-decoration-line: underline;
color: #FFFFFF;
}

@media (max-width: 767px) {
	.nav-tab__list {

	margin-right: 26px;
	
}
.nav-tab__link {
	font-size: 11px;
}
}