.movies-card {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 270px;
}

.movies-card__image {
    width: 100%;
    height: 150px;
    padding-bottom: 14px;
  object-fit: cover;

}
.movies-card__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 29px;
    border-bottom: 1px solid #E8E8E8;
    align-items: center;
}
.movies-card__title {
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
color: #000000;
margin: 0;


}
.movies-card__like {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #F5F5F5;
    background-image: url(../../../images/like-no-active.svg);
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.movies-card__like:hover {
    opacity: 0.8;

}
.movies-card__like_active :hover {
      background-image: url(../../../images/delete.svg);

}
.movies-card__like_active {
 background-image: url(../../../images/like-active.svg);
}

.movies-card__time {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
color: #A0A0A0;
padding-top: 6px;
}

@media (max-width: 1279px) {
    .movies-card {
  
   width: 339px;
}
.movies-card__image {
    
    height: 190px;
    

}
}
@media (max-width: 767px) {
    .movies-card {
  
   width: 300px;
}
}