.promo {
  height: 524px;
  display: flex;
  flex-direction: column;
 justify-content: center;
  background-image: url(../../../images/promo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 320px;
  background-color: #073042;
}

.promo__title {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 58px;
text-align: center;
letter-spacing: -0.04em;
color: #FFFFFF;
max-width: 730px;
margin: 0 auto;
}

@media (max-width: 1279px) {
  .promo {
    height: 784px;
  }


}

@media (max-width: 767px) {
  .promo {
    height: 570px;
    background-size: 248px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    max-width: 300px;
    text-align: center;
   
   
  }
}